---
import BaseLayout from '../../layouts/ScrollLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<BaseLayout title={project.data.title} description={project.data.description}>
  <article class="prose prose-pink dark:prose-invert mx-auto py-16">
    <h1>{project.data.title}</h1>
    <Content />
  </article>
</BaseLayout>